
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
  </head>
 
  <body>
    
<h3>ENTROU NO SEEDS</h3>
{% for usuario in usuarios %}

<p>

  Nome: {{usuario.id}}
 </p>
<p>

 Nome: {{usuario.name}}
</p>
<p>

 Email: {{usuario.email}}
</p>

<p>
Senha: {{usuario.senha}}
</p>

<a href="{% url 'editar' usuario.id %}">Editar</a>
<a href="{% url 'delete' usuario.id %}">Deletar</a>

<br />
<br />
<br />
<br />

{% endfor %}
{% csrf_token %}
  </body>
</html>