
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
  </head>
 
  <body>
    
<h3>ENTROU NO UPDATE</h3>
<p>

  {{usuario.id}} - {{usuario.name}}
</p>



<form action="{%  url 'update' usuario.id %}" method="POST"> 
  {% csrf_token %}
  <input type="text" name="name" value="{{usuario.name}}" placeholder="Nome:"/>
  <br />
  <br />
  <input type="text" name="email" value="{{usuario.email}}" placeholder="email:"/>
  <br />
  <br />
  <input type="text" name="senha" value="{{usuario.senha}}" placeholder="senha:"/>



<button type="submit">UPDATE</button>

</form>
  </body>
</html>